body{
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: "Malgun Gothic", Verdana;
}
.container{
    background: rgba(255, 255, 255, 0.6);
}
.title{
    text-align: center;
}

.messages{
/*    background: rgba(255, 255, 255, 0.4);*/
    height: 500px;
    border: 1px solid #BFADA6;
    border-radius: 20px;
    overflow: auto;
}

.users{
/*    background: rgba(255, 255, 255, 0.4);*/
    height: 500px;
    border: 1px solid #BFADA6;
    border-radius: 20px;
    overflow: auto;
}

.name{
    font-size: 2em;
}

#chat_room{
    display: none;
}