{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
{% block contents %}

<div class="box_1">

    <div class="row">

        <!-- chat room -->
        <div class="col-md-9" id="chat_room">
            <div class="chat_room_label">
                행복을 나눠요!
                <hr>
            </div>
        </div>


        <!-- users -->
        <div class="col-sm-3" id="current_users">
            <div class="chat_room_label">
                접속자
                <hr>
            </div>
        </div>

    </div>
    
    <hr>

    <div class="row form-group" id="message_form">

        <div class="col-md-11" id="messagefield">
            <input type="text" class="form-control" id="input_message" name="message" maxlength="100" placeholder="100자 제한">
        </div>

        <div class="col-md-1" id="submitbt">
            <button type="submit" id="submitMessage" class="btn btn-default">보내기!</button>
        </div>

    </div>


</div>

<!-- Chat form -->



{% endblock %}
