<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/css/pushertusher.css">
	<title>쉼터</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 title">
				<h1><strong>쉼터 채팅방</strong></h1>
				<p>예쁘고 사랑스러운 말을 나눕시다. 모든 대화 내용에는 자동으로 하트(&hearts;)가 붙습니다.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6" id="chat_field">
				<h5>채팅 내용은 여기에~</h5>
				<!-- chat here -->
			</div>

			<div class="col-md-6">
				<form class="form-horizontal" role="form">

					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">이름</label>
						<div class="col-sm-5">
							<input type="text" name="username" class="form-control" id="name">
						</div>
					</div>

					<div class="form-group">
						<label for="inputMessage" class="col-sm-2 control-label">메시지</label>
						<div class="col-sm-10">
							<input type="text" name="usermessage" class="form-control" id="message">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" id="send" class="btn btn-default">전송</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
</body>
</html>

<script src= "http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src= "http://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

<script type="text/javascript">
var time = new Date()

$(function() {
	var pusher = new Pusher('9f04d3ecab45dc1b9f18');
	var channel = pusher.subscribe('jeungmin_seulki');
	channel.bind('my_event', function(data) {
		$("#chat_field").append(
			"<div class='name'>" + data.name + "</div>"
			+ '"' + data.message + "&hearts;" + '"' + "<br>"
			+ time.getFullYear() + "/" + (time.getMonth()+1) + "/" + time.getDate()
			)
	});

	$("#send").click(function(){
		$.get("/send",{
			name: $("#name").val(),
			message: $("#message").val()
		},
		function(data) {

		});
	});

	var objDiv = document.getElementById("chat_field");
	objDiv.scrollTop = objDiv.scrollHeight;
});

</script>


<!-- 				<form class="form-horizontal">
					<div class="form-group">

						<div class="input-group">
							<span class="input-group-addon">이름</span>
							<input class="form-control" type="text" id="user_name">
						</div>

						<div class="input-group">
							<span class="input-group-addon">지금 기분은?</span>
							<select class="form-control" id="feeling">
								<option name="feel_good">기분이 좋아요</option>
								<option name="feel_notbad">기분 괜찮아요</option>
								<option name="feel_bad">기분이 안좋아요</option>
								<option name="feel_sick">좀 아파요</option>
							</select>
						</div>

						<div class="input-group">
							<span class="input-group-addon">메시지</span>
							<input class="form-control" type="text" id="user_message">
						</div>
						<div class="input-group">
							<input class="form-control" type="button" id="send" value="전송">
						</div>

					</div>
				</form> -->